<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
    <title>{{ page.title }}</title>
</head>
<body>
    <h2>{{ page.title }}</h2>
    {{ content }}
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fa57aa447c679eb2ac602a8bbed9b2ca8' type='text/javascript'%3E%3C/script%3E"));
    </script>
</body>
</html>